# this is where you put all the third-party libraries you want to install
# e.g. 
# numpy == 1.18.1
# dependencies are installed using the command: pip install -r requirements.txt

# recommended libraries
pre-commit==3.4.0
pytest==7.4.2